body{
    background-color: #F5EBEB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
  
.form-category{
    display: grid;
    gap: 1.5em;
    background-color: #E4D0D0;
    padding: 2.5em;
    border-radius: 10px 10px;
    width: 650px;
    height: 200px;
}
  
.category-group{
    display: flex;
    flex-direction: column;
}
  
label{
    font-size: 16px;
    color: #867070;
    margin-bottom: 0.5em;
}
  
input[type="text-category"] {
    padding: 0.8em;
    border: 1px solid #D5B4B4;
    border-radius: 4px;
    background-color: white;
    transition: border-color 0.3s;
}
  
input[type="text-category"]:focus {
    border-color: #867070;
    outline: none;
}
  
button[type="submit-category"] {
    grid-column: span 3;
    padding: 1em;
    border-radius: 6px;
    background-color: #867070;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 32%;
    height: 70%;
}
  
button[type="submit-category"]:hover {
    background-color: #D5B4B4;
}
  
form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}